[submodule "GCLogSwift"]
	path = GCLogSwift
	url = git@github.com:docsion/GCLogSwift.git
	branch = main
[submodule "gclog-kt"]
	path = gclog-kt
	url = git@github.com:docsion/gclog-kt.git
	branch = main
[submodule "gclog-js"]
	path = gclog-js
	url = git@github.com:docsion/gclog-js.git
	branch = main
[submodule "gclog-java"]
	path = gclog-java
	url = git@github.com:docsion/gclog-java.git
[submodule "gclog-cplusplus"]
	path = gclog-cplusplus
	url = git@github.com:docsion/gclog-cplusplus.git
